# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.13

    steps:
      # specify any bash command here prefixed with `run: `
      - run: git clone https://github.com/lu4p/cat.git .
      - run: go build ./cmd/cat
      - run: bash test.sh
      
